* {
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

body {
  background-image: url(../images/fundo1.png);
  background-size: cover;
}

.card {
  color: #f5f5f7;
  /* para centralizar a div */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.elementos-card {
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.7);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  position: absolute;
  padding: 30px;
  margin: 300px;

  height: 500px;
  width: 500px;

  text-align: center;
}

h1, img,
h2 {
  padding: 15px;
}

.foto {
  /* para centralizar*/
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 20px;
}

.imagem {
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 90px;
  width: 150px;
  display: flex;
}

.imagem img {
  border-radius: 180px;
  width: 100%;
  padding: 15px;
}

.btn {
  padding: 35px;
}

.btn a {
  margin: 20px;
  cursor: pointer;
}

.btn a button {
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  width: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn a button:hover {
  background-color: rgba(209, 219, 217, 0.8);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
  transition: all 0.3s;
}
