.fundo {
  background-image: linear-gradient(45deg, rgb(214, 169, 169), rgb(74, 5, 99));
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.calculadora {
  position: absolute;
  background-image: linear-gradient(180deg, #0089ff 0, #0081ff 8.33%, #6178ff 16.67%, #8c6eff 25%, #ac63ff 33.33%, #c556f5 41.67%, #d948e5 50%, #ea38d4 58.33%, #f725c2 66.67%, #ff0ab0 75%, #ff009d 83.33%, #ff008a 91.67%, #ff0077 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
  width:380px;
  height: 583px;
}

.botao {
  width: 80px;
  height: 80px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
}

.botao:hover {
  box-shadow: rgba(0, 2, 0, 0.2) 0 2px 8px;
  opacity: 0.8;
}

#resultado {
  width: 345px;
  background-color: white;
  height: 80px;
  margin: 5px;
  font-size: 55px;
  color: black;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
}
